<!DOCTYPE html>
<html>
  <head>
    <title><%= head_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="<%= asset_path 'favicon.png' %>">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white font-sans leading-normal tracking-normal">
    <%= content_for?(:application_content) ? yield(:application_content) : yield %>
  </body>
</html>
